html {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    margin-left: 0.3em;
}
h1, h2, p {
    margin: 0;
}
h1, h2 {
    font-weight: 600;
    font-size: 14px;
}
.brand {
    margin-bottom: 0.5em;
}
h2 {
    margin-bottom: 1em;
}
h2, p {
    color: #646464;
}
p {
    font-weight: 400;
    font-size: 12px;
}

.generator, .container {
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0px 10px 20px 0px #e2e2e2;
}

.generator label {
    display: block;
    margin-bottom: 1.5em;
    font-size: 90%;
}

.generator label span {
  font-size: 75%;
}

.generator input {
    display: block;
    font-size: 100%;
    margin-bottom: 1em;
    min-width: 30em;
    padding: .5em;
}

.generator button {
    border: 1px solid black;
    padding: .5em .75em;
    color: #131806;
    border-radius: 5px;
}

.generator button:hover {
    background-color: #cfcfcf;
}

.container .email-placeholder {
  margin-bottom: 2em;
  min-width: 40em;
}

.container .email-placeholder .line {
  height: 1em;
  background-color: #f3f3f3;
  margin-bottom: .5em;
}

.container .email-placeholder .line.large {
  width: 95%;
}

.container .email-placeholder .line.medium {
  width: 70%;
}

.copied:not(.hidden) {
    padding: 1em;
    font-size: 80%;
    background-color: aquamarine;
    display: inline-block;
    margin-top: 2em;
    opacity: 0;
    animation-name: fade-in-out;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

.hidden {
    display: none;
}

@keyframes fade-in-out {
    0% { opacity: 0;}
    20% { opacity: 1;}
    80% { opacity: 1;}
    100% { opacity: 0; }
}